body{
    background-color: black;
}
#container{
    position: absolute;
    left: 40%;
    top: 300px;
    background-color: sandybrown;
    width: 500px;
    height: 400px;
    border: 2px solid white;
    border-radius: 10px;
}

#content{
    color: white;
    font-size: 50px;
    text-align: center;
}

#number{
    font-size: 100px;
    color: black;
}

.btn{
    background-color: blue;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}
